<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="converter" ng-controller="converterCtrl">
    <ion-pane>
      <ion-header-bar class="bar-stable bar-positive">
        <h1 class="title">
          <i class="icon ion-cash"></i> 
          Currency Converter
        </h1>
      </ion-header-bar>
      <ion-content>
        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              From
            </div>
            <select id="from" ng-model="baseSelect">
              <option ng-repeat="valute in curs.Valute track by $index">{{valute.CharCode}}</option>
            </select>
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              To
            </div>
            <select id="to" ng-model="convertSelect">
              <option ng-repeat="valute in curs.Valute track by $index">{{valute.CharCode}}</option>
            </select>
          </label>
          <label class="item item-input">
            <span class="input-label">Amount:</span>
            <input type="number" class="amount-input" ng-model="amount">
          </label>
        </div>
        <button class="button icon ion-loop button-block button-balanced convert-button" ng-click="convert(amount,baseSelect,convertSelect)">
          Convert
        </button>
        <div class="card">
          <div class="item item-divider">
            Result
          </div>
          <div class="item item-text-wrap">
            {{result}} {{convertSelect}}
          </div>
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
